@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Produtos</h1>

<p>Camiseta Korn - R$60,00</p>
<img src="/imagens/camisakorn.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Korn", "Home")'">

<br>

<p>Camiseta Metallica - R$60,00</p>
<img src="/imagens/camisametallica.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Metallica", "Home")'">
<br>

<p>Camiseta Slayer - R$70,00</p>
<img src="/imagens/camisaslayer.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Slayer", "Home")'">
<br>

<p>Camiseta Slipknot - R$60,00</p>
<img src="/imagens/camisaslipknot.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Slipknot", "Home")'">
<br>

<p>Almofada Bandas - R$50,00</p>
<img src="/imagens/almofadabandas.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Almofada", "Home")'">
<br>

<p>Caneca Bandas - R$35,00</p>
<img src="/imagens/canecabandas.jpg">
<input type="button" value="Comprar" onclick="location.href='@Url.Action("Caneca", "Home")'">